:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
    --padding-size: 1rem;
    --gap-size: 1rem;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg-color);
    display: flex;
    gap: var(--gap-size);
}

main {
    width: 100%;
}

aside {
    width: 20em;
    background-color: var(--green);
    display: flex;
    flex-flow: column;
}

.menu-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: var(--gap-size);
}

.menu-item {
    width: 100%;
    cursor: pointer;
    list-style: none;
    display: flex;
    padding: var(--padding-size);
    border-radius: .5rem;
    gap: var(--gap-size);
}

.menu-item:focus,
.menu-item:hover {
    background-color: var(--light-green);
}

.user-card {
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-size);
    margin-top: auto;
}

/* control menu visibility */

.show-hide {
    display: none;
}

.collapse {
    width: fit-content;
}

.justify-center {
    justify-content: center;
}