@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --bg-color: rgb(0, 5, 71);
    --bar-color: #fff;
    --text-color: rgb(0, 5, 71);
    --padding-size: 1rem;
    --inner-text-color: #fff;
    --hover-color: rgb(210, 210, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

main {
    width: calc(100% - 3.5em);
    height: 100%;
    margin-left: 5em;
    background-color: var(--bg-color);
    color: var(--inner-text-color);
    padding: .2em var(--padding-size);
}

aside {
    max-width: 15em;
    width: 5.3em;
    height: 100%;
    position: fixed;
    display: flex;
    flex-flow: column;
    background-color: var(--bar-color);
    color: var(--text-color);
    overflow-x: hidden;
}

aside .navbar {
    max-width: 100%;
    padding: var(--padding-size);
}

.menu-list a {
    color: var(--text-color);
    text-decoration: none;
}

.menu-item {
    list-style: none;
}

aside .menu-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em 0em;
    line-height: 0;
    border-radius: .5em;
}

.menu-header .logo {
    display: none;
}
aside .navbar .menu-list {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: var(--padding-size);
}

aside .navbar .menu-list .menu-item {
    width: 100%;
    border-radius: .5em;
    display: flex;
    align-items: center;
    gap: 1.8em;
    padding: .8em var(--padding-size);
    transition: background-color 300ms ease;
    cursor: pointer;
}

aside .navbar .menu-list .menu-item:hover {
    background-color: var(--hover-color);
}

aside .navbar .menu-list .search{
    width: 100%;
    border-radius: .5em;
    display: flex;
    align-items: center;
    gap: var(--padding-size);
    padding: .8em var(--padding-size);
    cursor: pointer;
    background-color: var(--bg-color);
}

aside .navbar .menu-list .search #search {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1em;
    background-color: transparent;
    color: var(--inner-text-color);
}

aside .navbar .menu-list .search #search::placeholder {
    opacity: 1;
}

aside .profile {
    height: 3.5em;
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: .3em .5em;
    background-color: var(--hover-color);
    color: var(--text-color);
}

aside .profile .profile-pic {
    height: 48px;
    width: 48px;
    background-image: url('../assets/photo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: .5em;
}

aside .profile .user-info,
aside .profile .profile-pic {
    display: none;
}

aside .profile p:nth-of-type(1) {
    font-size: 1em;
    line-height: 1;
}

aside .profile p:nth-of-type(2) {
    font-size: .9em;
    line-height: 1;
}

/* control visibility */

.open {
    width: 15em;
}

aside .profile .logout {
    line-height: 0;
}

aside.open .profile-pic,
aside.open .user-info {
    display: unset;
}

aside.open .logout {
    margin-left: auto;
}

aside.open ~ main {
    width: calc(100% - 15em);
    margin-left: 15em;
}

aside.open .menu-list .menu-item {
    gap: var(--padding-size);
}

aside.open .menu-header {
    justify-content: space-between;
}

aside.open .menu-header .logo {
    display: unset;
}